@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Sacramento&family=Roboto&family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
}

.brown-section {
    height: 800px;
    background-color: #6f4537;
}

.white-section {
    height: 800px;
    background-color: rgb(255, 255, 255);
}


/* Header Section */

.navbar {
    height: 70px;
    padding-left: 15%;
    width: 100%;
}

.brand-cup {
    height: 70px;
}

.brand-cup:hover {
    transform: rotate(-40deg);
    transition: 0.5s ease;
}

.navbar-nav {
    position: absolute;
    right: 110px;
}

.img-cup {
    height: 80%;
    position: absolute;
    right: 10px;
    opacity: 0.9;
    top: 50px;
}

.title-con {
    margin-left: 15%;
    margin-top: 8%;
}

#subtitle {
    color: rgb(216, 216, 216);
    font-family: 'Sacramento', cursive;
    font-size: 76px;
}

#title {
    color: #fff;
    font-size: 145px;
    font-family: 'Lobster', cursive;
}

#rating {
    position: absolute;
    left: 15%;
    top: 60%;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

nav {
    height: 8vh;
    background: #151515;
    position: sticky;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    font-family: 'Roboto', sans-serif;
}

.nav-links li a:hover {
    border-top: 5px solid #6f4537;
    transition: all 0.5s ease;
}

#brand {
    height: 70px;
    position: absolute;
    left: 15%;
    top: 3px;
}

#brand:hover {
    transform: rotate(-35deg);
    transition: all 0.5s ease;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.landing {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing h1 {
    margin: 100px;
    font-size: 50px;
    color: #ae5fce;
}

@media screen and (max-width: 768px) {
    .line {
        width: 30px;
        height: 3px;
        background: #fff;
        margin: 5px;
    }
    nav {
        position: relative;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 40%;
        transform: translate(-5%, -50%);
        z-index: 4;
    }
    .nav-links {
        position: fixed;
        background: #151515;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease-out;
        z-index: 3;
        pointer-events: none;
    }
    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .landing {
        flex-direction: column;
    }
    .nav-links li {
        opacity: 0;
    }
    .nav-links li a {
        font-size: 25px;
    }
    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.2s;
    }
    li.fade {
        opacity: 1;
    }
    .nav-links li a:hover {
        color: #959fb9;
        transition: all 0.5s ease;
    }
}


/* Footer Section */

#contact {
    text-align: center;
    padding-top: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: #151515;
}

.wrapper {
    /* position: absolute;
    top: 50%; */
    padding-top: 30%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.box {
    position: relative;
    border-radius: 50%;
    box-shadow: 0 5px 15px -5px #000;
    color: #222;
    overflow: hidden;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #fff;
    margin: 10px;
}

.box i {
    line-height: 100px;
    font-size: 30px;
    transition: 0.3s linear;
}

.box:hover i {
    transform: scale(1.5);
    color: #fff;
}

.box:before {
    position: absolute;
    content: '';
    width: 120%;
    height: 120%;
    background: #151515;
    transform: rotate(45deg);
    right: -110%;
    top: 90%;
    border-radius: 50%;
}

.box:hover:before {
    animation: animate 0.8s 1;
    top: -10%;
    right: -10%;
}

@keyframes animate {
    0% {
        left: -110%;
        top: 90%;
    }
    50% {
        left: 10%;
        top: -30%;
    }
    100% {
        left: -30%;
        top: 10%;
    }
}


/* Shop Images */

.shop-con {
    height: 500px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 5%;
}

.shop-img {
    height: 100%;
    width: 350px;
    padding-left: 5px;
    padding-right: 5px;
}


/* Menu Carousel */

.carousel {
    height: 500px;
    width: 700px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    margin-bottom: 8%;
}

.d-block {
    border-radius: 50px;
}

.menu-h1 {
    position: absolute;
    left: 45%;
    top: 90%;
}


/* Reviews */

.right {
    margin-left: 10%;
    margin-top: 100px;
}

.left {
    margin-left: 10%;
    margin-top: 100px;
}

.review {
    font-size: 24px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
}

.reviewee {
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.review-con {
    display: flex;
}

#review-head {
    text-align: center;
    padding-top: 50px;
}